 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 4929px;
}

.u-section-1 .u-group-1 {
  width: 270px;
  min-height: 65px;
  margin: 19px auto 0 18px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  font-size: 1rem;
  margin: 20px 20px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 18px;
  height: 18px;
  margin: -22px auto 0 20px;
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 65px;
  height: 43px;
  margin: 68px 42px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 443px;
  height: 295px;
  margin: -21px 65px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 67px;
  height: 43px;
  margin: -23px 458px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -309px 757px 0 74px;
}

.u-section-1 .u-text-3 {
  font-weight: 500;
  font-size: 1rem;
  margin: 9px 573px 0 74px;
}

.u-section-1 .u-text-4 {
  font-weight: 800;
  font-size: 1.875rem;
  margin: 215px 179px 0 74px;
}

.u-section-1 .u-text-5 {
  font-weight: 800;
  font-size: 1.75rem;
  margin: 34px 0 0 74px;
}

.u-section-1 .u-text-6 {
  font-weight: 500;
  font-size: 1rem;
  margin: 9px 70px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 800;
  font-size: 1.75rem;
  margin: 43px 0 0 74px;
}

.u-section-1 .u-text-8 {
  font-weight: 500;
  font-size: 1rem;
  margin: 9px 69px 0;
}

.u-section-1 .u-text-9 {
  font-weight: 800;
  font-size: 1.875rem;
  margin: 142px 255px 0 69px;
}

.u-section-1 .u-text-10 {
  font-weight: 800;
  font-size: 1.75rem;
  margin: 34px 912px 0 69px;
}

.u-section-1 .u-text-11 {
  font-weight: 500;
  font-size: 1rem;
  margin: 9px 144px 0 74px;
}

.u-section-1 .u-text-12 {
  font-weight: 800;
  font-size: 1.75rem;
  margin: 56px 907px 0 74px;
}

.u-section-1 .u-text-13 {
  font-weight: 500;
  font-size: 1rem;
  margin: 16px 282px 0 74px;
}

.u-section-1 .u-text-14 {
  font-weight: 800;
  font-size: 1.875rem;
  margin: 96px 132px 0 74px;
}

.u-section-1 .u-text-15 {
  font-weight: 500;
  font-size: 1rem;
  margin: 34px 74px 0;
}

.u-section-1 .u-text-16 {
  font-weight: 800;
  font-size: 1.875rem;
  margin: 172px 267px 0 74px;
}

.u-section-1 .u-shape-3 {
  width: 65px;
  height: 43px;
  margin: 74px auto 0 488px;
}

.u-section-1 .u-image-2 {
  width: 443px;
  height: 295px;
  margin: -25px 605px 0 92px;
}

.u-section-1 .u-shape-4 {
  width: 67px;
  height: 43px;
  margin: -21px auto 0 74px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -301px 258px 0 607px;
}

.u-section-1 .u-text-18 {
  font-weight: 500;
  font-size: 1rem;
  margin: 15px 40px 0 607px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 243px 754px 0 74px;
}

.u-section-1 .u-text-20 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 12px 124px 0 74px;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 53px 754px 0 74px;
}

.u-section-1 .u-text-22 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 12px 123px 0 74px;
}

.u-section-1 .u-text-23 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 34px 628px 0 69px;
}

.u-section-1 .u-text-24 {
  font-weight: 800;
  font-size: 1.875rem;
  margin: 132px 305px 0 69px;
}

.u-section-1 .u-text-25 {
  font-weight: 500;
  font-size: 1rem;
  margin: 9px 321px 0 69px;
}

.u-section-1 .u-slider-1 {
  min-height: 493px;
  width: 419px;
  height: auto;
  margin: 70px auto 20px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 44px;
}

.u-section-1 .u-image-3 {
  width: 325px;
  height: 433px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-image-4 {
  height: 433px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-1 .u-image-5 {
  height: 433px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-1 .u-image-6 {
  height: 433px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-1 .u-image-7 {
  height: 433px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-1 .u-image-8 {
  height: 433px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-1 .u-image-9 {
  height: 433px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 50px;
}

.u-section-1 .u-image-10 {
  height: 433px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 50px;
}

.u-section-1 .u-image-11 {
  height: 433px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: -22px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 631px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 447px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 53px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 3px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -558px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 81px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 89px;
    margin-right: 124px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: -100px;
    margin-right: 781px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 77px;
    margin-right: 18px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: 8px;
    margin-right: 781px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: 4px;
    margin-right: 156px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-top: 63px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-top: -829px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-top: 411px;
    margin-right: 141px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 217px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -168px;
    margin-right: 497px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-top: 12px;
    margin-right: 219px;
    margin-left: 446px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 446px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 229px;
    margin-right: 628px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 628px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 497px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 174px;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 190px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 411px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 227px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 137px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -122px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -483px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 64px;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: -125px;
    margin-right: 561px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 102px;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: -17px;
    margin-right: 561px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-top: 138px;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-top: 336px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -49px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 277px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -13px;
    margin-left: 226px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 226px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 204px;
    margin-right: 408px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 408px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 277px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 231px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 47px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 296px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -281px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -456px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -198px;
    margin-right: 381px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 127px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -67px;
    margin-right: 381px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 188px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -877px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 261px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -97px;
    margin-left: 475px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 97px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 46px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 46px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 513px;
    margin-right: 228px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -258px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 228px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 97px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4785px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1558px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 229px;
    margin-top: -1421px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -24px;
    margin-right: 273px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 1387px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -1942px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -29px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 811px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -796px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -85px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -136px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -321px;
    margin-right: 181px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 202px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -217px;
    margin-right: 181px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 337px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -973px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 11px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 275px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 226px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 48px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 81px;
    margin-right: 65px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-top: -35px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-top: 463px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -208px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 28px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
  }

  .u-section-1 .u-slider-1 {
    min-height: 487px;
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 427px;
  }
}